$mainWhite: #fff;
$opacityWhite: rgba(255, 255, 255, 0.96);
$mainGray: #f8f8f8;
$pink: #ff3e79;
$darkGray: #1b1c21;
$lightGray: #7e7e82;
$shadow: #0e185033;
$shadow-card: rgba(188, 186, 186, 0.5);
$extra-light-gray: #eaeaea;
$light-turquoise: #d9fff5;
$border-turquoise: rgb(184, 255, 236);
$turquoise: #41f6d7;
$pagination-inactive: rgba(221, 221, 221, 1);
$pagination-active: rgba(181, 182, 188, 1);
